<div ng-if="data.subjects.selected">
    <div ng-if="data.triples.list">
        <table class="table" cellpadding="10" cellspacing="0" style="width: 100%;" ng-if="data">
            <thead>
            <tr>
                <th>#</th>
                <th class="right">خصیصه</th>
                <th class="right">مقدار</th>
                <th class="right" style="min-width: 220px;width: 220px;">
                    <md-button class="md-icon-button md-primary" ng-click="checkAll('Approve')">تایید
                        <!--<span class="fa fa-lg fa-check"></span>-->
                    </md-button>
                    <md-button class="md-icon-button  md-warn" ng-click="checkAll('Reject')">رد
                        <!--<span class="fa fa-lg fa-close"></span>-->
                    </md-button>
                    <md-button class="md-icon-button md-primary" ng-click="checkAll('')" aria-label="no state">
                        <span class="fa fa-lg fa-remove"></span>
                    </md-button>
                </th>
                <th class="right">ماژول</th>
                <th style="min-width: 240px;width: 240px;"></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <md-button class="md-raised md-primary" ng-click="checkAll('Approve')">تایید همه</md-button>
                    <md-button class="md-raised md-warn" ng-click="checkAll('Reject')">رد همه</md-button>
                </td>
                <td></td>
                <td>
                    <md-button class="md-raised" ng-click="submitAll()">ارسال همه</md-button>
                    <md-button ng-if="isVipUser" class="md-raised" md-colors="{color: 'green'}"
                               ng-click="submitAll('VIP')">ارسال ویژه همه
                    </md-button>
                </td>
            </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat='item in data.triples.list' ng-class-even="'even'" ng-class-odd="'odd'">
                <td>{{($index)+1}}</td>
                <td class="rtl right">
                    <a ng-href="{{PREFIX}}{{item.triple.predicate}}">{{item.triple.predicate | mapPrefix}}</a>
                </td>
                <td class="rtl right cell">
                    <span ng-if="item.triple.object.type!='Resource'">{{item.triple.object.value}}</span>
                    <a ng-href="{{PREFIX}}{{item.triple.object.value}}" ng-if="item.triple.object.type=='Resource'">{{item.triple.object.value|mapPrefix}}</a>
                </td>
                <td>
                    <div layout="row">
                        <md-radio-group ng-model="item.vote" layout="row">
                            <md-radio-button value="Approve" class="md-primary">تایید</md-radio-button>
                            <md-radio-button value="Reject" class="md-warn">رد</md-radio-button>
                        </md-radio-group>
                        <md-button class="md-icon-button md-primary"
                                   ng-click="item.vote=''"
                                   ng-if="item.vote"
                                   aria-label="no state">
                            <span class="fa fa-lg fa-remove"></span>
                        </md-button>
                    </div>
                </td>
                <td>
                    <a target="_blank"
                       ng-href="{{item.triple.sources[0].urls[0]}}">{{item.triple.sources[0].module}}</a>
                </td>
                <td>
                    <md-button class="md-raised" ng-click="submit(item)">ارسال</md-button>
                    <md-button ng-if="isVipUser" class="md-raised" md-colors="{color: 'green'}"
                               ng-click="submit(item, 'VIP')">ارسال ویژه
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
