<!DOCTYPE html>
<html ng-app='kgui'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>

    <title>Knowledge Graph - Template Mapping UI</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">

    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-sanitize/angular-sanitize.js"></script>

    <script type="text/javascript" src="../libs/jquery.growl/javascripts/jquery.growl.js"></script>
    <link rel="stylesheet" type="text/css" href="../libs/jquery.growl/stylesheets/jquery.growl.css">

    <script type="text/javascript" src="../node_modules/ng-tags-input/build/ng-tags-input.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/ng-tags-input/build/ng-tags-input.min.css">

    <script type="text/javascript" src="../node_modules/angular-auto-complete/angular-auto-complete.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-auto-complete/angular-auto-complete.css"/>

    <script type="text/javascript" src="../node_modules/angular-paging/dist/paging.min.js"></script>

    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../scripts/app/app.js"></script>
    <script type="text/javascript" src="../scripts/app/config.js?v=13960715B"></script>
    <script type="text/javascript" src="../scripts/app/service/rest.js"></script>
    <script type="text/javascript" src="../scripts/app/controller/main.js"></script>

    <link rel="stylesheet" href="../styles/main.css">
</head>

<body ng-controller="TemplateMappingController">

<div ng-if="data" class="container">
    <br/>

    <div class="text-center">
        <form class="form-inline">
            <label>Search</label>
            <input type="text" class="input" ng-model="filter.templateName" placeholder="Template Name"/>
            <input type="text" class="input" ng-model="filter.ontologyClass" placeholder="Ontology Class"/>

            <select ng-model="filter.approved" ng-options="s for s in [true, false]">
                <option value="" selected="selected" label="(Approved)"></option>
            </select>

            <button class="btn btn-success" ng-click="go(0)">Go</button>
            <button class="btn btn-warning" ng-click="clear()">Clear</button>
        </form>
    </div>

    <table cellpadding="10" cellspacing="10" style="width: 670px; margin:0 auto;">
        <tr>
            <td>
                <div paging
                     page="data.pageNo"
                     page-size="data.pageSize"
                     total="data.rowCount"
                     paging-action="go(page-1)">
                </div>
            </td>
            <td>
                <form ng-submit="go(data.searchPageNo-1)">
                    <input placeholder="page"
                           ng-model="data.searchPageNo"
                           style="width: 50px; border:solid 1px #ddd; height: 35px;">
                </form>
            </td>
            <td>
                <strong>
                    total items : {{data.rowCount}}
                </strong>
            </td>
        </tr>
    </table>


    <table class="table" ng-if="data">
        <thead>
        <tr>
            <th>#</th>
            <th>Language</th>
            <th>Template Name</th>
            <th>Ontology Class</th>
            <th>Approved</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='a in data.data'>
            <td>{{data.page * data.pageSize + $index}}</td>
            <td>
                <span>{{a.language}}</span>
            </td>
            <td>
                <span>{{a.templateName}}</span>
            </td>
            <td>
                <span ng-if='!editing[$index]'>{{a.ontologyClass}}</span>
                <input ng-if='editing[$index]'
                       type="text"
                       ng-model="a.ontologyClass"
                       placeholder="Ontology Class"
                       auto-complete="autoCompleteOptions"
                       class="editing"/>
                <!--<input ng-if='editing[$index]' ng-value="a.ontologyClass" ng-model="edit[$index].ontologyClass">-->
            </td>
            <td>
                <span ng-if='!editing[$index]'>{{a.approved}}</span>
                <input ng-if='editing[$index]' type="checkbox" ng-checked="a.approved" ng-model="a.approved">
            </td>
            <td>
                <button ng-show='!editing[$index]' class="btn btn-danger" ng-click="editing[$index]=true;">Edit</button>
                <button ng-show='editing[$index]' class="btn btn-success"
                        ng-click="editing[$index]=false;save($index, a)">OK
                </button>
                <button ng-show='editing[$index]' class="btn" ng-click="editing[$index]=false;revert($index)">Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>