<md-content layout-padding>

    <div ng-show="error" style="color: red; font-size: 14pt; text-align: center;">{{error}}</div>

    <form name="myForm">
        <div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>کلمه‌عبور فعلی</label>
                <input type="password" ng-model="data.currentPassword" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>کلمه‌عبور جدید</label>
                <input type="password" ng-model="data.newPassword" required ng-minlength="5" name="pw1" id="pw1">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>تکرار کلمه عبور جدید</label>
                <input type="password" ng-model="data.newPassword2" required name="pw2" id="pw2" pw-check='pw1'>
            </md-input-container>

        </div>
        <div class='msg-block' ng-show='myForm.$error'>
            <div class='msg-error' ng-show='myForm.pw1.$error.minlength'>کلمه عبور باید حداقل شامل ۵ کاراکتر باشد</div>
            <div class='msg-error' ng-show='myForm.pw2.$error.pwmatch'> تکرار کلمه عبور جدید باید با کلمه عبور جدید دقیقا یکسان باشد</div>
        </div>
    </form>

    <section>
        <md-button class="md-raised md-primary" ng-click="updatePassword()" aria-label="ذخیره">ذخیره</md-button>
    </section>
</md-content>