<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="referrer" content="no-referrer" />
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="styles/tree.css">

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="node_modules/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="node_modules/d3/build/d3.min.js"></script>
    <script type="text/javascript" src="scripts/lib/dependency.js"></script>
    <script type="text/javascript"
            src="node_modules/md-collection-pagination/dist/md-collection-pagination.min.js"></script>

    <link rel="stylesheet" href="styles/main.css">

    <script type="text/javascript" src="scripts/app/app.js?v=3"></script>
    <script type="text/javascript" src="scripts/app/service/rest.js?v=3"></script>
    <script type="text/javascript" src="scripts/app/controller/main.js?v=3"></script>

</head>
<body ng-app="rawTextApp">

<div ng-controller="MainController" ng-cloak dir="rtl">

    <div class="container">
        <md-content layout-padding dir="ltr">
            <div ng-include data-src="'html/sidebar.html'"></div>
        </md-content>
        <md-content flex layout-padding>
            <div layout="column" layout-align="top center">
                <div ng-if="tab=='triples'" layout-fill ng-include data-src="'html/triples.html'"></div>
                <div ng-if="tab=='rules'" layout-fill ng-include data-src="'html/rules.html'"></div>
                <div ng-if="tab=='patterns'" layout-fill ng-include data-src="'html/patterns.html'"></div>
                <div ng-if="tab=='fkgfy'" layout-fill ng-include data-src="'html/fkgfy.html'"></div>
                <div ng-if="tab=='repository'" layout-fill ng-include data-src="'html/repository.html'"></div>
            </div>
            <div flex></div>
        </md-content>
    </div>
</div>

</body>
</html>
